/* Copyright 2012 Google Inc. All Rights Reserved. */

.google-visualization-tooltip-action:hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip {
  border:solid 1px #bdbdbd;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  font-size: 12px;
  padding: 0px;
  -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  z-index: 10000;
}
.google-visualization-tooltip-action-list {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0em 0.5em 0em;
  cursor: hand;
}
.google-visualization-tooltip-action {
  margin: 0;
  cursor: pointer;
  padding: 0.5em 2em 0.5em 1em;
}
.google-visualization-tooltip-action:hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip-item-list {
  list-style-type: none;
  margin: 1em 0 1em 0;
  padding: 0em;
}
.google-visualization-tooltip-item {
  margin: 0.65em 0em 0.65em 0em;
  padding: 0em 2em 0em 1em;
}
.google-visualization-tooltip-item-list
.google-visualization-tooltip-item:first-child {
  margin: 1em 0em 1em 0em;
}
.google-visualization-tooltip-separator {
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: #dddddd;
}
.google-visualization-tooltip-square {
  display: inline-block;
  /* IE did not support inline-block, so fall back to float left. */
  /* float: left; */
  clear: none;
  width: 0.5em;
  height: 0.5em;
  margin: 0.16em 0.7em 0em 0em;
  border-bottom: solid 0.1em white;
}

/*
     FILE ARCHIVED ON 12:46:47 May 19, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:07:42 Sep 21, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.907
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.015
  esindex: 0.015
  cdx.remote: 22.765
  LoadShardBlock: 730.627 (6)
  PetaboxLoader3.datanode: 462.318 (8)
  PetaboxLoader3.resolve: 443.474 (4)
  load_resource: 412.806 (2)
*/