name: Build & Deploy Next.js Project

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Test PostgreSQL connection
        run: |
          echo "Testing database connection..."
          npx prisma db pull

      - name: Build project
        run: npm run build

      - name: Copy build to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: 22
          source: ".next/** public/** package.json package-lock.json prisma/**"
          target: "/var/www/TML-Website/"

      - name: Restart PM2
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            cd /var/www/TML-Website
            npm install --production
            pm2 delete TML-Website || true
            pm2 start "npx next start -p 3000" --name TML-Website
            pm2 save
